COMPOSE_PROJECT_NAME=indexshelf-local

POSTGRES_HOST_PORT=55433
POSTGRES_SUPERUSER=postgres
POSTGRES_SUPERUSER_PASSWORD=indexshelf_local_postgres_dummy
PRODUCT_DB=indexshelf
DATA_DB=indexshelf_data
PRODUCT_OWNER_PASSWORD=indexshelf_product_owner_dummy
PRODUCT_MIGRATOR_PASSWORD=indexshelf_product_migrator_dummy
BACKEND_DB_PASSWORD=indexshelf_backend_runtime_dummy
DATA_OWNER_PASSWORD=indexshelf_data_owner_dummy
DATA_MIGRATOR_PASSWORD=indexshelf_data_migrator_dummy
DATA_DB_PASSWORD=indexshelf_data_runtime_dummy

RABBITMQ_HOST_PORT=55673
RABBITMQ_MANAGEMENT_PORT=55674
RABBITMQ_BACKEND_PASSWORD=backend_dummy_password
RABBITMQ_DATA_PASSWORD=data_dummy_password

MINIO_API_HOST_PORT=59010
MINIO_CONSOLE_HOST_PORT=59011
MINIO_ROOT_USER=indexshelf_minio_root
MINIO_ROOT_PASSWORD=indexshelf_minio_root_dummy_password
MINIO_DATA_USER=indexshelf_minio_data
MINIO_DATA_PASSWORD=indexshelf_minio_data_dummy_password
WIREMOCK_HOST_PORT=58080
MAILPIT_SMTP_PORT=51025
MAILPIT_UI_PORT=58025
